

.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../public/img/logo.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    width: 98.925vw;
    max-height: 70%;
  }
  
  .registration-form {
    background-color: rgba(0, 0, 0, 0.8); /* Dark background for the form */
    padding: 0px 40px ;
    border-radius: 8px;

    color: white;
    width: 400px;
    height: 700px;
    margin: 20px 0px;
  }
  
  h2 {
    text-align: center;
  }
  
  
  .form-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    border: 1.5px solid white;
  }
  
  input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
  }
  
.regiter-button {
    width: 100%;
    padding: 10px;
    background-color: #FFD700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
/*   
  button:hover {
    background-color: #FFC107;
  } */
  
  .login-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .login-link a {
    color: #FFD700;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  