.bannerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto;
  width: 100%; /* Set width to 100% */
  max-width: 1410px;
  height: auto; /* Allow the height to adjust */
}

.textBox {
  max-width: 50%;
  text-align: center;
}

.textBox > p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 18px;
}

.ctaButton {
  background-color: #ffcc00;
  border: none;
  padding: 10px 20px;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.imageBox {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; 
}

.imageBox img {
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 640px) {
  .bannerContainer {
    flex-direction: column;
    padding: 10px;
  }

  .textBox {
    max-width: 100%;
    margin-bottom: 50px;
  }

  .imageBox {
    justify-content: center;
  }

  .imageBox img {
    max-width: 100%;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .bannerContainer {
    flex-direction: column;
  }

  .textBox {
    max-width: 100%;
  }

  .imageBox img {
    max-width: 100%;
  }
}
