.event-section1 {
  max-width: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.75);
  color: #FFFFFF;
  max-height: 800px;
  overflow: auto;
}

.blog-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.blog-card img {
  width: 100%;
  height: auto;
}

@media (max-width: 640px) {
  .grid-cols-5 {
      grid-template-columns: 1fr;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .grid-cols-5 {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1025px) {
  .grid-cols-5 {
      grid-template-columns: repeat(5, 1fr);
  }
}

.h24 {
  font-size: 24px;
}

.h16 {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.see-more-button {
  background-color: #212529;
  color: #FFFFFF;
  border: 2px solid #F5CF49;
  width: 150px;
  height: 40px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.see-more-button:hover {
  background-color: #F5CF49;
  color: #000000;
  border-color: #F5CF49;
}

.see-more-button:active {
  background-color: #FFD700;
  border-color: #F5CF49;
}

.cut {
  white-space: nowrap;        /* Không xuống dòng */
  overflow: hidden;           /* Ẩn phần văn bản vượt quá khung */
  text-overflow: ellipsis;    /* Hiển thị dấu ... */
  width: 200px;               /* Chiều rộng cố định */
}
