/* Giao diện chính cho màn hình lớn - Desktop 1920px trở lên */
.event-section1 {
  max-width: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.75);
  color: #FFFFFF;
  max-height: 800px;
  overflow: auto;
}

.blog-card {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Khoảng cách giữa các phần tử */
  width: fit-content;
  height: fit-content;
}

.blog-card img {
  width: 100%;
  height: auto;
}

/* Responsive cho màn hình lớn hơn hoặc bằng 1920px */
@media (min-width: 1920px) {
  .grid-cols-5 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }

  .blog-card img {
    width: 400px;
    height: 200px;
  }
}

/* Responsive cho màn hình từ 1440px đến 1920px */
@media (max-width: 1920px) and (min-width: 1440px) {
  .grid-cols-5 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }

  .blog-card img {
    width: 350px;
    height: 180px;
  }
}

/* Responsive cho màn hình từ 1024px đến 1440px */
@media (max-width: 1440px) and (min-width: 1024px) {
  .grid-cols-5 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .blog-card img {
    width: 320px;
    height: 160px;
  }
}

/* Responsive cho màn hình từ 768px đến 1024px */
@media (max-width: 1024px) and (min-width: 768px) {
  .grid-cols-5 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .blog-card img {
    width: 290px;
    height: 150px;
  }

  .h24 {
    font-size: 22px; /* Điều chỉnh kích thước tiêu đề */
  }

  .h16 {
    font-size: 16px; /* Điều chỉnh kích thước đoạn mô tả */
  }

  .see-more-button {
    width: 100%; /* Chiều rộng của nút */
    height: 45px; /* Điều chỉnh chiều cao */
  }
}

/* Responsive cho màn hình nhỏ hơn hoặc bằng 768px */
@media (max-width: 768px) {
  .grid-cols-5 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .blog-card img {
    width: 100%;
    height: auto;
  }

  .h24 {
    font-size: 20px; /* Điều chỉnh kích thước tiêu đề */
  }

  .h16 {
    font-size: 14px; /* Điều chỉnh kích thước đoạn mô tả */
  }

  .see-more-button {
    width: 100%; /* Chiều rộng của nút chiếm toàn bộ */
    height: 45px; /* Điều chỉnh chiều cao */
  }
}

/* Responsive cho màn hình nhỏ hơn hoặc bằng 480px */
@media (max-width: 480px) {
  .grid-cols-5 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .blog-card img {
    width: 100%;
    height: auto;
  }

  .h24 {
    font-size: 18px; /* Điều chỉnh kích thước tiêu đề */
  }

  .h16 {
    font-size: 13px; /* Điều chỉnh kích thước đoạn mô tả */
  }

  .see-more-button {
    width: 100%; /* Chiều rộng nút */
    height: 40px; /* Điều chỉnh chiều cao nút */
  }
}
