/* Giao diện chính cho màn hình lớn (1920px) */
.event-section {
  max-width: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.45);
  color: #FFFFFF;
  max-height: 800px;
  overflow: auto;
}

.text-yellow {
  color: #F5CF49;
  font-size: 24px;
}

.text-white {
  color: #FFFFFF;
  font-size: 24px;
}

.row {
  display: flex;
  max-width: 1410px;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.event {
  background-color: #111;
  padding: 20px 0;
}

.event h1 {
  color: white;
  margin-bottom: 20px;
}

.card {
  border: none;
  width: fit-content;
  height: fit-content;
}


.card img {
  width: 100%;
  height: auto;
}

/* Responsive cho màn hình lớn hơn hoặc bằng 1920px */
@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }

  .col-6 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }

  .card img {
    width: 440px;
    height: 200px;
  }
}

/* Responsive cho màn hình từ 1440px đến 1920px */
@media (max-width: 1920px) and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .col-6 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }

  .card img {
    width: 400px;
    height: 210px;
  }
}

/* Responsive cho màn hình từ 1024px đến 1440px */
@media (max-width: 1440px) and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .col-6 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }


  .card img {
    width: 350px;
    height: 180px;
  }
}

/* Responsive cho màn hình từ 768px đến 1024px */
@media (max-width: 1024px) and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .card img {
    width: 290px;
    height: 160px;
  }
}

/* Responsive cho màn hình nhỏ hơn hoặc bằng 768px */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .card img {
    width: 100%;
    height: auto;
  }
}

/* Responsive cho màn hình nhỏ hơn hoặc bằng 480px */
@media (max-width: 480px) {
  .card img {
    width: 100%;
    height: auto;
  }

  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .event h1 {
    font-size: 24px;
  }

  .text-white {
    font-size: 18px;
  }
}