.footer {
    background-color: #000000;
    color: #fff;
    text-align: left;
    /* width: 100vw; */
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center; 
  }
  
  .footer-container {
    display: flex;
    /* max-width: 80vw; */
    justify-content: center;
    width: 100%;
  }
  
  .footer-column {
    margin:   40px 50px;
  }
  
  .footer-bottom {
    width: 100%;
    border-top: 1px solid #555;
    padding-top: 20px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    /* max-width: 80vw; */
  }
  
  .footer-bottom p {
    margin: 0; 
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .footer-links li {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .footer-links li:hover {
    text-decoration: underline;
  }
  
  .footer .btn1 {
    background-color: #d4af37;
    border: none;
    max-height: 40px;
    color: #000;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold;
    text-align: center;
    width: 140px;

  }
  
  .footer .btn.secondary {
    background-color: transparent;
    border: 1px solid #d4af37;
    color: #d4af37;
   max-height: 40px;

   
    text-align: center;
  }
  
  .logo-footer{
    font-size: 24px;
    margin-left: 44px;
  }
  .footer-butoom{
    margin-bottom: 20px;
  }
  .footer i{
    margin: 18px;
    font-size: 20px;
    
  }
  .footer-img{
    width: 110px;
    height: auto;
    border-radius: 50%;
    margin-left:  50px;
  }