.header {
    background-color: #000000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 75px;
    padding: 0 10px; /* Thêm padding để cải thiện bố cục */
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Thay đổi cách bố trí để khoảng cách đều */
    max-width: 1400px; /* Đặt chiều rộng tối đa */
    width: 100%;
}

.logo-name {
    font-size: 24px;
}

.logo-img {
    width: 100px;
    height: auto; /* Giữ tỷ lệ khung hình */
}
.menu{
    width: 650px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: #ffff;
    font-size: 20px;
}

.change-language img {
    width: 35px;
    height: auto;
}

.search-area {
    margin-right: 15px;
}

.search-area input {
    padding: 5px;
}

.login-button {
    background-color: #000000;
    border: none;
    max-height: 35px;
    color: #ffff;
    margin-right: 10px;
    font-weight: bold;
    width: 120px;
    border: 1.5px solid rgb(238, 158, 9);
    font-size: 13px;
    height: 40px;
}

.input-container {
    position: relative; 
}

.input-container i {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    color: #ffffff; 
}

.input-container input {
    padding: 5px 50px;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.ryuga {
    margin-left: 20px;
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Chuyển thành cột trên màn hình nhỏ */
        align-items: flex-start; /* Canh lề bên trái */
    }

    .menu {
        margin: 10px 0; /* Thêm khoảng cách giữa menu và các phần khác */
    }

    .menu ul {
        flex-direction: column; /* Menu dưới dạng cột */
        align-items: flex-start; /* Canh lề bên trái */
    }

    .menu li {
        margin: 5px 0; /* Khoảng cách giữa các mục menu */
    }

    .search-area {
        width: 100%; /* Đảm bảo thanh tìm kiếm rộng */
        margin-top: 10px; /* Thêm khoảng cách trên */
    }

    .input-container input {
        width: 100%; /* Đảm bảo thanh tìm kiếm đầy đủ chiều rộng */
    }

    .login-button {
        width: 100%; /* Đảm bảo nút đăng nhập đầy đủ chiều rộng */
        margin-top: 10px; /* Thêm khoảng cách trên */
    }
}