.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../public/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 98.925vw;
    max-height: 70%;
}

.login-form h1 {
    text-align: center;
    margin: 20px;
    font-size: 24px;
    padding: 20px;
}

.login-form {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px 40px;
    border-radius: 8px;
    color: white;
    width: 400px;
    height: 500px;
    margin: 20px 0px;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    border: 1.5px solid white;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #f8b400;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.remember-forgot a {
    color: #f8b400;
    text-decoration: none;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;

}

.next-regiter a {
    color: #f8b400;
}

.next-regiter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-hr {
    margin-top: 20px;
}