.event {
  background-color: #111; /* Nền cho phần sự kiện */
  padding: 20px 0; /* Khoảng cách trên và dưới */
}

.event h1 {
  color: white; /* Màu chữ tiêu đề */
  margin-bottom: 20px; /* Khoảng cách dưới tiêu đề */
}

.card {
  border: none; /* Loại bỏ viền của thẻ card */
}

.card img {
  width: 100%; /* Đảm bảo hình ảnh chiếm toàn bộ chiều rộng của cột */
  height: auto; /* Giữ tỷ lệ khung hình */
}

@media (min-width: 768px) {
  .card img {
    width: 440px; /* Kích thước mặt định cho desktop */
    height: 210px; /* Chiều cao mặt định cho desktop */
  }

  .col-6 {
    /* Cải thiện độ rộng cho các cột trên thiết bị lớn hơn */
    flex: 0 0 33.33%; /* 3 cột trên màn hình lớn */
    max-width: 33.33%;
  }
}
