  .login-container {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url('../../public/images/background.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 1920px;
      height: 980px;
  }
  
  .box-login{
    width: 950px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px 40px;
    border-radius: 8px;
    color: white;
    margin-bottom: 150px;

  }
  .login-form h1 {
      text-align: center;
      margin: 20px;
      font-size: 36px;
      padding: 20px;
  }

  .login-form {
      width: 520px;
      height: 550px;
      margin-bottom: 100px;
  }

  .login-form label {
      display: block;
      margin-bottom: 8px;
      font-size: 18px;
  }

  .login-form input {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: none;
      font-size: 16px;
      border: 1.5px solid white;
      background-color: black;
  }
  .login-header{
    font-size: 100px;
}
  input[type="checkbox"] {
      width: auto;
      margin-right: 10px;
  }

  .login-btn {
      width: 100%;
      padding: 10px;
      background-color: #f8b400;
      border: none;
      border-radius: 20px;
      font-size: 16px;
      cursor: pointer;
  }

  .remember-forgot a {
      color: #f8b400;
      text-decoration: none;
  }

  .remember-forgot {
      display: flex;
      justify-content: space-between;

  }

  .next-regiter a {
      color: #f8b400;
  }

  .next-regiter {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
  }

  .login-hr {
      margin-top: 20px;
  }
.acount{
    margin-top: 15px;
}


@media (max-width: 1440px) {
    .login-container{
        width: 1440px;
        height: 900px;
    }
    .box-login{
        width: 750px;
    }
}
@media (max-width: 768px) {
    .login-container{
        width: 768px;
        height: 700px;
    }
    .box-login{
        width: 600px;
        margin-bottom: 40px;
        height: 500px;
    }
    .login-form {
        width: 420px;
        height: 450px;
        margin-bottom: 30px;
    }
}
@media(max-width: 480px){
    .login-container{
        width: 480px;
        height: 550px;
    }
    .box-login{
        width: 400px;
        margin-bottom: 20px;
        height: 450px;
                margin-bottom: 60px;
    }
    .login-header{
        margin-top: 0px;
        font-size: 20px;
    }
    .login-form {
        width: 400px;
        height: 420px;
    }
    .login-form label {
        font-size: 14px;
    }
    .next-regiter{
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    .acount{
        margin: 0;
    }
      .login-form h1 {
      text-align: center;
      margin: 20px;
      font-size: 24px;
      padding: 20px;
  }
  .login-form input {

    padding: 7px;
    font-size: 14px;
}
.acount{
    font-size: 14px;
}

.login-btn {

    padding: 7px;
    background-color: #f8b400;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}
  
}