.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../public/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1920px;
    height: 1350px;
}

.registration-form {
    padding: 0px 40px;
    border-radius: 8px;
    color: white;
    width: 570px;
    height: 90%;
}
.box-register{
    width: 950px;
    height: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px 40px;
    border-radius: 8px;
    color: white;
    margin-bottom: 120px;

}
h1{
    text-align: center;
    margin: 20px;
    font-size: 36px;
    padding: 20px;
}


.form-input {
    width: 100%;
      padding: 10px;
      margin-top: 5px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: none;
      font-size: 18px;
      border: 1.5px solid white;
      background-color: black;
}


input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
    padding: 20px;
}
.regiter-button {
    width: 100%;
    padding: 10px;
    background-color: #FFD700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/*   
  button:hover {
    background-color: #FFC107;
  } */

.login-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.login-link a {
    color: #FFD700;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.registration-form label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}




@media (max-width: 1440px) {
    .registration-container {
       width: 1440px;
    }

    .box-register {
        max-width: 800px;
    }

    .registration-form {
        max-width: 500px;
    }

    h1 {
        font-size: 32px; 
    }

    .form-input {
        font-size: 16px; 
    }
    .login-link{
        font-size: 20px;
        display: flex;
        justify-content: space-between;
    }
    .link-login{
        color: #FFD700;
    }
    .regiter-button{
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .registration-container{
        width: 768px;
        height: 900px
    }
    
    .box-register {
        max-width: 600px;
        margin-bottom: 50px;
        height: 850px;
    }
    .registration-form {
        padding: 0px 40px;
        border-radius: 8px;
        color: white;
        height: 100%;
    }
    

}



@media (max-width: 480px) {
    .registration-container {
        width: 480px;
        height: 800px;
    }
    .box-register {
        width: 400px;
        margin-bottom: 30px;
        height: 750px;
        margin-top: 40px;
    }
    .registration-form {
       height: 750px;
       min-width: 400px;
    }
    .form-input {
        width: 100%;
        display: block;
        height: 35px;
    }
    .registration-form label {
        display: block;
        margin-bottom: 8px;
        font-size: 16px;
    }
    .login-link{
        font-size: 16px;
    }
    .regiter-button{
        padding: 7px;
        font-size: 14px;
    }
    .registration-form h1{
        font-size: 24px;
        margin: 10px;
    }

}