.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../public/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1920px;
    height: 1350px;
}

.registration-form {
    padding: 0px 40px;
    border-radius: 8px;
    color: white;
    width: 570px;
    height: 90%;
}
.box-register{
    width: 950px;
    height: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px 40px;
    border-radius: 8px;
    color: white;
    margin-bottom: 120px;

}
h1{
    text-align: center;
    margin: 20px;
    font-size: 36px;
    padding: 20px;
}


.form-input {
    width: 100%;
      padding: 10px;
      margin-top: 5px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: none;
      font-size: 18px;
      border: 1.5px solid white;
      background-color: black;
}


input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
    padding: 20px;
}
.regiter-button {
    width: 100%;
    padding: 10px;
    background-color: #FFD700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/*   
  button:hover {
    background-color: #FFC107;
  } */

.login-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.login-link a {
    color: #FFD700;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.registration-form label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}
